body{
        margin: 0;
        padding:0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #2b2d42;
    }
    .topnav{
        color: #edf2f4;
        padding:20px 0px 20px 0px;
        font-size: 17px;
        width: 100%;
        background-color: #2b2d42;
        align-items: center;
        text-align: right;
    }

    .topnav a{
        text-decoration: none;
        color: #edf2f4;
        padding: 5px;
        margin:15px;
        transition:0.5s;
        /* float: right;
        align-items: center; */
    }
    /* .topnav a:hover{
        background-color: #ddd;
        color: black;
        border-radius: 20px;
        padding:15px;
    } */
    .logo{
        font-size: 30px;
        font-weight: bold;
        float: left;
        margin-left: 20px;
        align-items: center;
        height: 100%;
    }
    h1{
        font-size: 30px;
        margin-top: 0px;
        text-align: center;
        margin-bottom: -20px;
        color: #ef233c;
    }
    p.role{
        font-size: 20px;
        text-align: center;
        color: #ef233c;
    }
    h1,p.role{
       
        background-color: #0d1b2a00;
    }
    #about-me,#education,#skills,#projects,#contact{
        margin: 20px;
        padding: 20px;
        background-color: #8d99ae;
        border-radius: 10px;
        color: aliceblue;
    }
  h2{
    color: #2b2d42;
    
  }
  footer{  margin: 0px;
        padding: 20px;
        background-color: #2b2d42;
        border: 10px;
        color: aliceblue;
        text-align: center;
        margin-bottom: -30px;
    } 